body {
  margin: 0;
  background: white;
  color: #222;

  font-family:
    -apple-system,
    BlinkMacSystemFont,
    "Helvetica Neue",
    sans-serif;

  font-size: 17px;
  line-height: 1.8;
}

main {
  max-width: 700px;
  margin: 0;
  padding: 50px 25px 100px;
}

/* サイト名 */
h1 {
  font-size: 20px;
  font-weight: normal;
  margin: 0 0 5px;
}

/* 区切り線 */
hr {
  border: 0;
  border-top: 1px solid #ccc;
  margin: 10px 0;
}

/* セクション */
h2 {
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 0.08em;
  margin: 0;
}

/* 通常のリスト */
ul {
  list-style-type: "・";
  margin-bottom: 1.5em;
}


/* リンク */
a {
  color: #555;
  text-decoration: underline;
  text-decoration-color: #bbb;
  text-underline-offset: 3px;
}

a:hover {
  color: #000;
  text-decoration-color: #222;
}

/* 更新 */
.new {
  font-size: 0.7em;
  margin-left: 0.5em;
  color: #d00;
}
